github_token=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PUSH_PASSWORD=

OCI_USER=
OCI_FINGERPRINT=
OCI_TENANCY=
OCI_REGION=
OCI_KEY_FILE=

NDHS_ID=
NDHS_PW=
