.preline {
  white-space: pre-line;
}
.equipments {
  display: flex;
  gap: 6px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.equipmentSvg {
  position: relative;
}
.equipmentTime {
  font-size: 10px;
  text-align: center;
}
.genderButton {
  font-weight: 700;
  border: none;
  padding: 3px 10px;
  cursor: pointer;
  box-shadow: 0 1px 5px var(--shadow);
  background: var(--disable-color);
  color: var(--date-font-color);
}
button[aria-selected="true"] {
  background: var(--white);
  color: var(--focus-date-font-color);
}
